body {
    margin: 0;
    padding: 0;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 44px;
    width: 100%;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}
.nav {
    background: black;
    color: white;
    line-height: 44px;
    text-align: center;
}
.nav a {
    color: white;
}

.nav h1 {
    margin: 0;
    padding: 0;
}
.nav .left {
    float: left;
    margin-left: 20px;
}

#content {
    position: absolute;
    top: 44px;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 100%;
}
.page {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}


.main {
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 44px;
}

#content .main ul {
    border-top: 1px solid #EFEFEF;
    margin: 0;
    padding: 0;
}

#content .main ul li {
    border-bottom: 1px solid #EFEFEF;
    list-style: none;
    padding: 10px 20px;
}

#tabs {
    background: black;
    bottom: 0;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100%;
}
#tabs ul li {
    display: inline-block;
}


